[Unit]
Description=Home Blink Python Service
After=network.target

[Service]
WorkingDirectory=/home/{USERNAME}/Projects/home-blink
ExecStart=/home/{USERNAME}/Projects/home-blink/venv/bin/python /home/{USERNAME}/Projects/home-blink/src/home_blink/main.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
